
body {
    background-color: rgb(51, 153, 255);
    width: 1300px;
    padding: 4px;
    font-family: "Sans serif";
    overflow-x: scroll;
}

div {
    margin: 0%;
    padding: 1%;
}

#pagebanner {
    float: left;
    margin: 0 0 0 2%;
    background-color: rgb(0,0,128);
}

#pagebanner h1 {
    margin: 0px 0px 4px;
    background-color: white;
    padding: 5% 5%;
    text-align: center;
}

#menubar {
    background-color: rgb(50,200,50);
    margin: 4px 0px;
}

a.menuitem {
    text-decoration: none;
    background-color: rgb(0,0,128);
    color: white;
    font-weight: bold;
    border: solid 2px black;
    padding: 0 4px;
}

a.menuitem:hover {
    background-color: red;
    color: white;
}

a.menuitem:active {
    background-color: white;
    color: black;
}

#gameboard {
    float: left;
    top: 8px;
    left: 4px;
    background-color: white;
    border: solid 4px rgb(0,0,128); 
    padding: 2px;
    margin: 0px;
}

.gametile {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 0.8em;
    border: solid 4px black;
    border-collapse: collapse;
    padding: 3px;
}

#infoblock {
    margin: 4px 0px;
    float: none;
    background-color: white;
}

#infoblock p {
    text-align: center;
}


/* Not Used */


#userlist {
    font-weight: bold;
    margin: 4px 0px;
    float: none;
    background-color: white;
    min-height: 100px;
}

#userlist span {
    font-weight: bold;
    float: left;
    clear: left;
    color: black;
}

#userlist .username {
    font-weight: normal;
}
